body{
    /* background-color: rgb(10, 100, 100); */
    background-color: black;
}
.rt{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-left: 380px;
    background-color: rgb(143, 40, 240);
    border: 4px rgb(82, 23, 137) solid;
    color: #ffffff;
    font-family: ;
}
.ytz{
    /* border: 2px black;margin-left: 100px; */
    margin-top: 20px;
}
.yt{
    border: 5px rgb(82, 23, 137) solid;
    text-align: right;
    margin-left: 120px;
    /* background-image: radial-gradient(blue, rgb(85, 85, 247), rgb(68, 68, 120) ); */
    width: 1100px;
    height: 550px;
    background-image: url(https://github.com/hidden9503/simple-think-for-css-html-js/blob/main/d.gif);
    background-size: cover;
    border-radius: 5px;
}
.tr{
    width: 100px;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(143, 40, 240);
    margin-left: 5px;
    display: block;
    border: 4px rgb(82, 23, 137) solid;
    margin-top: 1px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    font-family: ;
}
.tr:hover{
    background-color: rgb(143, 40, 240);
    width: 100px;
    height: 55px;
    transition: all 0.3s;
}
.webs{
    /* width: 52pt;
    height: 52pt; */
    background-color: rgb(32, 1, 59);
    height: 400px;
    width: 200px;
    padding: 9px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 5px;
    transform: translateY(-42px);
    overflow: scroll;
    border: 5px solid rgb(82, 23, 137) ;
    color: rgb(143, 40, 240);
    font-weight: 800;
}
.oi{
    display: inline-flex;
}
#tr2{
    /* background-color:rgb(82, 23, 137);
    text-decoration: none;
    margin-left: 5px;
    height: 50px;
    font-weight: 600;
    font-size: 27px;
    color: #ffffff; */
}
#tr2:hover{
    /* background-color: rgb(143, 40, 240); */
    transition: all 0.3s;
}
.p{
    margin-top: 8px;
    margin-left: 8px;
    background-color: rgb(143, 40, 240);
}
.tr:hover {
    background-color: rgb(89, 43, 226);
}
.tra {
    width: 100px;
    height: 47px;
    border-radius: 5px;
    background-color: rgb(143, 40, 240);
    margin-left: 5px;
    display: block;
    border: 4px rgb(82, 23, 137) solid;
    margin-top: 1px;
    font-weight: 600;
    font-size: 27px;
    color: #ffffff;
    text-decoration: none;
    font-family: ;
}
.tra:hover {
    background-color: rgb(89, 43, 226);
}
.p {
    background-color: transparent;
}
